body {
    font-size: 1.75rem !important;
    line-height: 1.6;
    font-weight: 200;
    font-family: sans-serif !important;
    color: #494745 !important;
    margin: 0;
}

header {
    padding: 15px 15px 10px 15px;
    text-align: center;
    font-size: 16px;
}

nav ul {
    margin: 0;
    padding: 0 0 0 15px;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 5px 15px;
}

nav ul li a {
    color: rgb(51, 95, 124);
    text-decoration: none;
}

.hero-image {
    min-height: 560px;
    background-image: url(https://www.kapitiisland.com/library/kapiti-aug-09-.jpg);
    background-color: #D8D8D8;
    max-width: 100% !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
}

.blog-image {
    background: linear-gradient(0deg, #fff, transparent), url(https://www.kapitiisland.com/library/kapiti-aug-09-.jpg) no-repeat center;
    background-size: cover;
    margin-bottom: -280px;
    padding-top: 15px;
    height: 400px;
}

.header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    z-index: 999;
    margin-top: 10%;
}

h1 {
    text-align: center;
    padding: 30px 0 0 0;
}

h2 {
    text-align: center;
    padding: 10px 20% 0 20%;
}

.text {
    padding: 0, 15%;
}

div {
    text-align: center;
}

footer {
    clear: both;
    padding: 100px 15px;
}