body {
    font-family: arial;
    margin: 0;
}

header {
    background: rgb(201, 236, 232);
    color: white;
    padding: 15px 15px 10px 15px;
    text-align: center;
}

header h1 {
    color: rgb(5, 27, 46);
    margin: 0;
    display: inline;
}

header h1 a {
    color: rgb(5, 27, 46);
    margin: 0;
    display: inline;
    text-decoration: none;
    padding: 5px 30px;
}

nav ul {
    margin: 0;
    padding: 0 0 0 15px;
    display: inline-block;
}

nav ul li {
    background: rgb(201, 236, 232);
    color: white;
    display: inline-block;
    list-style-type: none;
    padding: 5px 15px;
}

nav ul li a {
    color: rgb(51, 95, 124);
    text-decoration: none;
}

.headsection {
    position: absolute;
    height: 400px;
    width: 100%;
    z-index: 0;
}

.headheading {
    padding: 120px 0 0 0;
    text-align: center;
}

.content
{
    margin: 0 auto;
    position: relative;
    width: 500px;
    z-index: 999;
}

h1 {
    text-align: center;
    padding: 30px 0 0 0;
}

h2 {
    text-align: center;
    padding: 10px 20% 0 20%;
}

.text {
    padding: 200px 10% 15px 10%
}

div {
    text-align: center;
}

p {
    padding: 20px 20% 10px 20%
}

footer {
    clear: both;
    padding: 100px 15px;
}
