body {
    font-family: arial;
    margin: 0;
}

header {
    background: rgb(201, 236, 232);
    color: white;
    padding: 15px 15px 10px 15px;
    text-align: center;
}

header h1 {
    color: rgb(5, 27, 46);
    margin: 0;
    display: inline;
}

header h1 a {
    color: rgb(5, 27, 46);
    margin: 0;
    display: inline;
    text-decoration: none;
    padding: 5px 30px;
}

nav ul {
    margin: 0;
    padding: 0 0 0 15px;
    display: inline-block;
}

nav ul li {
    background: rgb(201, 236, 232);
    color: white;
    display: inline-block;
    list-style-type: none;
    padding: 5px 15px;
}

nav ul li a {
    color: rgb(51, 95, 124);
    text-decoration: none;
}

div {
    text-align: center;
}

p {
    margin: 0;
    padding: 15px 70px 15px 70px;
}

h1 {
    text-align: center;
    padding: 40px 0 0 0;
}

footer {
    clear: both;
}